svg { width: 500px; height: 292px; }
.segment_red { fill: #EF3B39; }
.segment_red:hover { fill: #BA0F11; }
.segment_green { fill: #CCDB2A; }
.segment_green:hover { fill: #AAB720; }
.segment_gold { fill: #FFCC67; }
.segment_gold:hover { fill: #E4A739; }
.segment_aqua { fill: #48C2C5; }
.aqua_pieces:hover .segment_aqua { fill: #3C9497; }
.aqua_pieces .aqua_over { display: none; }
.aqua_pieces:hover .aqua_over { display: inherit; }
.aqua_over * { fill: #3C9497; }
.aqua_over text { font-family: Arial; font-size: 8px; text-anchor: end; }
